<extend name="Admin@Public:index"/>
<block name='tools'>
    <button type="button" class="btn btn-sm btn-primary" data-modal="{:U('Shop/Delivery/form')}">添加快递</button>
</block>
<block name="table">
    <thead>
    <tr>
        <th>排序</th>
        <th>快递</th>
        <th>价格</th>
        <th>备注</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <volist name="list" id="vo" key="k">
        <tr>
            <td>{$k}</td>
            <td>{$vo.name}</td>
            <td>{$vo.price}</td>
            <td>{$vo.back_up}</td>
            <td>{:show_button_status($vo['status'])}</td>
            <td>{:show_toggle_button($vo['status'],$vo)}{:show_edit_button($vo['id'])}</td>
        </tr>
    </volist>
    </tbody>
</block>
