<extend name="Admin@Public:form"/>
<block name="form">

    <div class="form-group"><label class="col-lg-2 control-label">分类名称</label>
        <div class="col-lg-10">
            <select class="form-control m-b" name="category_id">
                <volist name="category" id="item">
                    <option value="{$item.id}"
                    <eq name="item.id" value="$vo['category_id']">selected</eq>
                    >{$item.name}</option>
                </volist>
            </select>
        </div>
    </div>

    <div class="form-group"><label class="col-lg-2 control-label">规格名称</label>
        <div class="col-lg-10">
            <input type="text" name="name" value="{$vo.name}" placeholder="规格名称" class="form-control" autofocus="true"
                   required=""/>
        </div>
    </div>

    <div class="form-group"><label class="col-lg-2 control-label">规格</label>
        <div class="col-lg-2 col-lg-offset-8">
            <button type="button" class="btn btn-sm btn-primary" id="add-model">添加规格</button>
        </div>
        <span class="help-block m-b-none text-info col-lg-offset-2">参数名，如：尺码，颜色，版本等；参数值以英文逗号分割</span>
    </div>

    <div class="form-group"><label class="col-lg-2 control-label">状态</label>
        <div class="col-lg-10">
            <div class="radio radio-info radio-inline">
                <input type="radio" value="1" name="status"
                <neq name="vo.status" value="0">checked=""</neq>
                />
                启用
            </div>
            <div class="radio radio-info radio-inline">
                <input type="radio" value="0" name="status"
                <eq name="vo.status" value="0">checked=""</eq>
                />
                禁用
            </div>
        </div>
    </div>

    <input type="hidden" name="id" value="{$vo.id|default=0}"/>
    <input name="form_token" type="hidden" value="{$form_token}"/>
</block>
<block name="script">
    <script>
        var count = 0;
        var $_last_form_group = $('div.form-group:last');
        var $_button_add_model = $('button#add-model');
        $(function () {
            _init();

            $_button_add_model.on('click', function (e, key, value) {
                add_param(key || '', value || '');
            });

        });

        function _init() {
            var params = jQuery.parseJSON('{$vo["params"]}' || '{}');
            if (params.length !== 0) {
                var item;
                for (item in params) {
                    $_button_add_model.trigger("click", [item, params[item]]);
                }
            }
        }

        function del(obj) {
            var _self = $(obj);
            _self.parents('div.form-group').remove();
            count--;
        }
        function add_param(key, value) {
            if (count > 10) {
                layer.msg('规格个数不能大于10个！', {icon: 2});
                return false;
            }
            $_last_form_group.before('<div class="form-group"><div class="row"><div class="col-md-2 col-md-offset-1" style="padding-right: 0px;"><input type="text" name="params_name[]" placeholder="参数名" class="form-control" value="' + key + '" required=""></div><div class="col-md-7" style="padding-left: 0px;padding-right: 0px;"><input type="text" name="params_value[]" placeholder="参数值" class="form-control" value="' + value + '" required=""></div><div class="col-md-1" style="padding-left: 0px;"><button type="button" class="btn btn-danger" onclick="del(this);">删除</button></div></div></div>');
            count++;
        }
    </script>
</block>