<extend name="Public/index"/>
<block name="body">
    <body class="gray-bg">
    <div class="middle-box text-center loginscreen animated fadeInDown">
        <div>
            <h1 class="logo-name">IN+</h1>
        </div>
        <h3>Welcome to IN+</h3>

        <form id="login" class="m-t-lg" role="form" action="{:U('login')}" method='post' data-ajax="true"
              data-tips="正在登录..." onSubmit="return false;">
            <div class="form-group">
                <input type="text" class="form-control" name='name' placeholder="Username" maxlength="20"
                       pattern="/^\w+$/" required="">
            </div>
            <div class="form-group">
                <input type="password" class="form-control" name='password' placeholder="Password" maxlength="20"
                       pattern="/^\w+$/" required="">
            </div>
            <input name="form_token" type="hidden" value="{$form_token}"/>
            <button type="submit" class="btn btn-primary block full-width m-b">Login</button>
            <!--<a href="#"><small>Forgot password?</small></a>-->
        </form>
        <p class="m-t">
            <small>&copy;广东轻工职业技术学院计算机工程系</small>
        </p>
        <p class="m-t">
            <small>Power by EggyDog</small>
        </p>
    </div>
    </body>
</block>