<extend name="Public:index"/>
<block name='tools'>
    <button type="button" class="btn btn-sm btn-primary" data-modal="{:U('Admin/Menu/form')}">添加菜单</button>
</block>
<block name="table">
    <thead>
    <tr>
        <th>id</th>
        <th>排序</th>
        <th>菜单名</th>
        <th>图标</th>
        <th>链接</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <volist name="list" id="vo" key="k">
        <tr>
            <td>{$k}</td>
            <td>{$vo.sort}</td>
            <td>{$vo.spl}{$vo.name}</td>
            <td>
                <button class="btn btn-success  dim" type="button"><i class="{$vo.icon}"></i></button>
            </td>
            <td>{$vo.path}</button>
            </td>
            <td>{:show_button_status($vo['status'])}</td>
            <td>{:show_toggle_button($vo['status'],$vo)}{:show_edit_button($vo['id'])}</td>
        </tr>
    </volist>
    </tbody>
</block>
