<extend name="Admin@Public:form"/>
<block name="form">
    <div class="form-group"><label class="col-lg-2 control-label">上级菜单</label>
        <div class="col-lg-10">
            <select class="form-control m-b" name="parent_id">
                <option value="0">主菜单</option>
            </select>
        </div>
    </div>
    <div class="form-group"><label class="col-lg-2 control-label">菜单名称</label>
        <div class="col-lg-10">
            <input type="text" name="name" value="{$vo.name}" placeholder="菜单名称" class="form-control" autofocus="true"
                   required="">
        </div>
    </div>
    <div class="form-group"><label class="col-lg-2 control-label">节点选择</label>
        <div class="col-lg-10">

        </div>
    </div>
    <div class="form-group"><label class="col-lg-2 control-label">链接地址</label>
        <div class="col-lg-10">
            <input type="text" name="path" value="{$vo.path}" placeholder="链接地址" class="form-control" required="">
        </div>
    </div>
    <div class="form-group"><label class="col-lg-2 control-label">图标样式</label>
        <div class="col-lg-10">
            <input type="hidden" name="icon" value=""/>
            <button class="btn btn-success  dim" type="button" data-icon><i class="{$vo.icon}"></i></button>
            <button type="button" class="btn btn-w-m btn-info" data-modal="{:U('Admin/Menu/icons')}">
                选择图标
            </button>
        </div>
    </div>
    <div class="form-group"><label class="col-lg-2 control-label">排序</label>
        <div class="col-lg-10">
            <input type="text" name="sort" value="{$vo.sort}" class="form-control" required="">
        </div>
    </div>
    <!-- 表单的状态改变不要在这里做。控制器内没有对是否为主菜单校验 -->
    <!--<div class="form-group"><label class="col-lg-2 control-label">状态</label>-->
        <!--<div class="col-lg-10">-->
            <!--<div class="radio radio-info radio-inline">-->
                <!--<input type="radio" value="1" name="status"-->
                <!--<neq name="vo.status" value="0">checked=""</neq>-->
                <!--&gt;-->
                <!--启用-->
            <!--</div>-->
            <!--<div class="radio radio-info radio-inline">-->
                <!--<input type="radio" value="0" name="status"-->
                <!--<eq name="vo.status" value="0">checked=""</eq>-->
                <!--&gt;-->
                <!--禁用-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
    <input type="hidden" name="id" value="{$vo.id|default=0}"/>
    <input name="form_token" type="hidden" value="{$form_token}"/>
</block>
<block name="script">
    <script>
        $(function () {
            var load_menu = function () {
                $.ajax({
                    type: 'GET',
                    url: "{:U('load_menu')}",
                    success: function (res) {
                        if (res.length !== 0) {
                            var options = "", selected = "", parent_menu = '{$vo.parent_id}';
                            res.forEach(function (item) {
                                if (parent_menu == item.id) {
                                    selected = "selected";
                                } else {
                                    selected = "";
                                }
                                console.log(item.spl);
                                options += "<option value='" + item.id + "' " + selected + ">" + item.spl + item.name + "</option>";
                            });
                            $("select[name='parent_id']").append(options);
                        }
                    }
                });
            }

            load_menu();

        });
    </script>
</block>