<extend name="Public:index"/>
<block name='tools'>
    <button type="button" class="btn btn-sm btn-primary" data-modal="{:U('Admin/Menu/form')}">添加菜单</button>
</block>
<block name="table">
    <thead>
    <tr>
        <th>排序</th>
        <th>菜单名</th>
        <th>图标</th>
        <th>链接</th>
        <th>状态</th>
        <th>操作</th>
    </tr>
    </thead>
    <tbody>
    <!--<tr>-->
    <!--<td>1</td>-->
    <!--<td>Project-->
    <!--<small>This is example of project</small>-->
    <!--</td>-->
    <!--<td>Patrick Smith</td>-->
    <!--<td>-->
    <!--<button type="button" class="btn btn-sm btn-primary" data-modal="{:U('Plugins/Uploader/form')}">上传图片-->
    <!--</button>-->
    <!--</td>-->
    <!--<td>Inceptos Hymenaeos Ltd</td>-->
    <!--<td><span class="pie">0.52/1.561</span></td>-->
    <!--</tr>-->
    <volist name="list" id="vo" key="k">
        <tr>
            <td>{$k}</td>
            <td>{:is_parent_menu($vo['parent_id'])}{$vo.name}</td>
            <td>
                <button class="btn btn-success  dim" type="button" data-icon><i class="{$vo.icon}"></i></button>
            </td>
            <td>
                {$vo.path}
                <button type="button" class="btn btn-sm btn-primary" data-modal="{:U('Plugins/Uploader/form')}">上传图片
                </button>
            </td>
            <td>{:show_button_status($vo['status'])}</td>
            <td><span class="pie">0.52/1.561</span></td>
        </tr>
    </volist>
    </tbody>
</block>
