<extend name="Public:index" />
<block name='tools'>
	<button type="button" class="btn btn-sm btn-primary">添加菜单</button>
</block>
<block name="table">
	<thead>
		<tr>
			<th>排序</th>
			<th>菜单名</th>
			<th>图标</th>
			<th>链接</th>
			<th>状态</th>
			<th>操作</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>1</td>
			<td>Project <small>This is example of project</small></td>
			<td>Patrick Smith</td>
			<td>0800 051213</td>
			<td>Inceptos Hymenaeos Ltd</td>
			<td><span class="pie">0.52/1.561</span></td>
		</tr>
	</tbody>
</block>
